<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Products Catalogue App</h1>
  <p>This web application allows you to manage the products of your company.</p>
  <ul>
    <li><a href="{% url 'upload_excel' %}">Upload Excel file</a></li>
    <li><a href="{% url 'get_top_most_parent' %}">Find top-most parent of a product</a></li>
    <li><a href="{% url 'get_children' %}">Display children of a product</a></li>
    <li><a href="{% url 'active_inactive_products' %}">Display count of active and inactive products</a></li>
    <li><a href="{% url 'average_product_price' %}">Display average product price by Category L1 and Category L2</a></li>
  </ul>
</body>
</html>
